@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

.text-font-base {
    font-family: 'Poppins', sans-serif !important;
}

.mainTitle {
    transition: color 1s, font-size 1s;
}

.mainTitle:hover {
    color: blue;
    font-size: calc(1.375rem + 2.5vw);
}

.img-bg-container {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.img-bg-container-small {
    width: 120px;
    height: 80px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.secondary-news {
    display: none;
}

/* Responsive Desing */
@media (min-width: 768px) {
    .secondary-news {
        display: block;
    }

}